@font-face {
    font-family: 'Pangolin';
    src: local('Pangolin'), url(./fonts/Pangolin-Regular.ttf) format('truetype');
}

:root {
  --primary: #324851;
  --secondary: #86ac41;
  --system: #34675c;
  --background: #b3c7c6;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--background);
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--system);
}

body {
    color: var(--primary);
    background-color: #EEEEEE;
    font-family: Pangolin;
    // font-size: 50px;
    font-weight: 700;
}

.appWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notesWrapper {
  border: 3px solid var(--system);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
  width: 80%;
  min-width: 650px;
  min-height: 460px;
  height: 80%;
  border-radius: 20px;
  // padding: 20px;
  background-color: var(--background);
}

.loginWrapper {
  border: 3px solid var(--system);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
  width: 80%;
  height: 80%;
  border-radius: 20px;
  // padding: 20px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper404 {
  border: 3px solid var(--system);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    text-align: center;
  }
}

.aboutWrapper {
  border: 3px solid var(--system);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    text-align: center;

  }
}

.icon {
  cursor: pointer;
}
